{{#if hasChildren}}
                        <details class="toc-section" open>
                            <summary><a href="#{{prefixedId}}" data-section="{{prefixedId}}"><span class="toc-number">{{{numberHtml}}}</span><span>{{{titleHtml}}}</span></a></summary>
                            <div class="toc-children">
{{#each children}}
{{> toc-node}}
{{/each}}
                            </div>
                        </details>
{{else}}
                        <a class="toc-link" href="#{{prefixedId}}" data-section="{{prefixedId}}"><span class="toc-number">{{{numberHtml}}}</span><span>{{{titleHtml}}}</span></a>
{{/if}}
